.sec{
    color: #F2F2F2;
    background-color: #185E3F;
    width: 999px;
    height: 400px;
    border-radius:30px;
    border:None;
    font-weight: bold;
    font-align: center;
    font-size: 20px;
.hero{
    color: #F2F2F2;
    background-color: #185E3F;
    width: 200px;
    height: 200px;
    border-radius:30px;
    border:None;
    font-weight: bold;
    font-align: center;
    font-size: 20px;
}
textarea {
  /* Size and Shape */
  width: 100%;
  max-width: 600px;
  height: 150px;
  padding: 12px;
  
  /* Borders and Edges */
  border: 2px solid #ccc;
  border-radius: 8px;
  
  /* Typography */
  font-family: inherit;
  font-size: 1600px;
  line-height: 1.5;
  color: #266a57;
}

body{
    color: #185E3F;
    background-color: #F2F2F2;
}
h1{
    cloor:#258B7F;
    ackground-color: F2F2F2;
